<nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="#" routerLink="" routerLinkActive="active" style="font-weight: bolder; ">PrachuStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          
            <button class="btn btn-block btn-success but1" routerLink="./add-product" routerLinkActive="active">Add Product</button>
          
            <button type="button" class="btn btn-outline-warning but2">CART</button>
        </div>
      </nav>
