<form [formGroup]="myForm">
    <h2 style="color:red">ADD PRODUCTS</h2><br>
    <div class="form-group">
        <label for="exampleInputEmail1">Id</label>
        <input type="number" class="form-control" formControlName="id" placeholder="enter id">

</div>
        <div class="form-group">
                <label for="exampleInputEmail1">Product</label>
                <input type="text" class="form-control" formControlName="title" placeholder="Add product">

        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Price</label>
          <input type="number" class="form-control" formControlName="price" placeholder="Enter Price range">
   
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">ImageUrl</label>
          <input type="url" class="form-control" formControlName="imageUrl" placeholder="Enter Image URL">
        </div>
        <div class="form-group">
                <label for="exampleInputPassword1">Product Description</label>
                <input type="text" class="form-control" formControlName="description" placeholder="Enter Product Description">
              </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="isAvailable">
          <label class="form-check-label" for="exampleCheck1">Availablity</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!myForm.valid">Submit</button>
        <button type="submit" class="btn btn-danger" (click)="del()">Delete</button>
     
      </form>
      <!-- [disabled]="!myForm.valid" -->